{% macro ok(message="All tests passed.") -%}
<div style="font-size: large; font-weight: bold;">
    <span style="font-size: xx-large; color: blue;">🗹</span>
    {{ message | safe }}
</div>
{%- endmacro %}

{% macro error(message) -%}
<div style="font-size: large; font-weight: bold;">
    <span style="font-size: xx-large; color: red">☒</span>
    {{ message | safe }}
</div>
{%- endmacro %}

{% macro results(result) -%}
<div>

{% for item in result.failures + result.errors %}
    <div style="width: 75%; min-width: 500px; max-width: 800px; padding-left: 50px; padding-bottom: 2rem">
        <div style="clear: both;">
            <div style="float: left; padding: 0.25em;">
                <span style="font-size: x-large; padding: 0.25em;">⚠️</span><span style="font-family: monospace;">{{ item[1] }}</span>
            </div>    
        </div>
        <div style="clear: both;">
            <div style="float: left; vertical-align: middle; padding-top: 0.25em; padding-bottom: 1em;">{{ item[0] | safe }}</div>
        </div>
    </div>
{% endfor %}
</div>
{%- endmacro %}
