name: Run Tests
run-name: Run all tests in the tests/ directory.
on: 
  - push
  - workflow_dispatch
jobs:
  run-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install the latest version of uv
        uses: astral-sh/setup-uv@v6
      - run: |
          uv run --frozen make -C tests/
